[Unit]
Description=Zuul Server Service
After=syslog.target network.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/zuul-server
User=${RUNASUSER:-zuul}
Group=zuul
ExecStart=/bin/sh -c "${PREFIX}/bin/zuul-server -d"
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
