[Unit]
Description=Zuul Scheduler Service
After=syslog.target network.target

[Service]
Type=simple
Environment="PREFIX=/usr/local"
Group=zuul
User=zuul
ExecStart=/bin/sh -c "${PREFIX}/bin/zuul-scheduler -d"
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
