[Unit]
Description=Zuul Executor Service
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/bin/sh -c "${PREFIX}/bin/zuul-executor -d"

[Install]
WantedBy=multi-user.target
