[Unit]
Description=Zuul Merger Service
After=syslog.target network.target

[Service]
Type=simple
Environment=RUNASUSER=zuul
EnvironmentFile=-/etc/sysconfig/zuul-merger
User=$RUNASUSER
Group=zuul
ExecStart=/bin/sh -c "${PREFIX}/bin/zuul-merger -d"

[Install]
WantedBy=multi-user.target
