[Unit]
Description=Zuul Executor Service
After=syslog.target network.target

[Service]
Type=simple
Environment="PREFIX=/usr/local"
Group=zuul
User=zuul
ExecStart=/bin/sh -c "${PREFIX}/bin/zuul-executor -d"

[Install]
WantedBy=multi-user.target
