[Unit]
Description=Zuul Finger Gateway Service
After=syslog.target network.target

[Service]
Type=simple
Environment="PREFIX=/usr/local"
Group=root
User=root
ExecStart=/bin/sh -c "${PREFIX}/bin/zuul-fingergw -d"
ExecStop=/bin/sh -c "${PREFIX}/bin/zuul-fingergw stop"

[Install]
WantedBy=multi-user.target
