[Unit]
Description=Zuul Web Service
After=syslog.target network.target

[Service]
Type=simple
Group=zuul
User=zuul
ExecStart={{ zuul_pip_virtualenv | default('/usr/local') }}/bin/zuul-web -d

[Install]
WantedBy=multi-user.target
