[Unit]
Description=Zuul Merger Service
After=syslog.target network.target

[Service]
Type=simple
Environment="PREFIX=/usr/local"
Group=zuul
User=zuul
ExecStart=/bin/sh -c "${PREFIX}/bin/zuul-merger -d"
ExecStop=/bin/sh -c "${PREFIX}/bin/zuul-merger stop"

[Install]
WantedBy=multi-user.target
