[Unit]
Description=Zuul Finger Gateway Service
After=syslog.target network.target

[Service]
Type=simple
Group=root
User=root
ExecStart={{ zuul_pip_virtualenv | default('/usr/local') }}/bin/zuul-fingergw -d
ExecStop={{ zuul_pip_virtualenv | default('/usr/local') }}/bin/zuul-fingergw stop

[Install]
WantedBy=multi-user.target
