[Unit]
Description=Zuul Merger Service
After=syslog.target network.target

[Service]
Type=simple
Group=zuul
User=zuul
ExecStart={{ zuul_pip_virtualenv | default('/usr/local') }}/bin/zuul-merger -d
ExecStop={{ zuul_pip_virtualenv | default('/usr/local') }}/bin/zuul-merger stop

[Install]
WantedBy=multi-user.target
