[Unit]
Description=Zuul Executor Service
After=syslog.target network.target

[Service]
Type=simple
Group=zuul
User=zuul
ExecStart={{ zuul_pip_virtualenv | default('/usr/local') }}/bin/zuul-executor -d
ExecStop={{ zuul_pip_virtualenv | default('/usr/local') }}/bin/zuul-executor stop

[Install]
WantedBy=multi-user.target
