[Unit]
Description=Zuul Scheduler Service
After=syslog.target network.target

[Service]
Type=simple
Group=zuul
User=zuul
ExecStart={{ zuul_pip_virtualenv | default('/usr/local') }}/bin/zuul-scheduler -d
ExecStop={{ zuul_pip_virtualenv | default('/usr/local') }}/bin/zuul-scheduler stop
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
